#About_wrapper {
    padding: 20vh 100px 0 100px;

}

#About_container {
    /*height: 105vh;*/
    /*height: 105dvh;*/
}

@media (max-width: 1300px) {
    #About_container {
        height: 110vh;
        height: 110dvh;
    }

    #About_wrapper {
        padding: 16vh 50px 0 50px;
    }
}

@media (max-width: 480px) {
    #About_container {
        height: 125vh;
        height: 125dvh;
    }

    #About_wrapper {
        padding: 18vh 25px 0 25px;
    }
}


#about_infinite-scroll{
    /*background-color: #2f81f7;*/
    width: 100%;
    height: 10rem;
    margin-top: 2rem;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    /*overflow: scroll;*/
    overflow: hidden;
}

.slider{
    display: flex;
    height: fit-content;
    gap: 15px;
    animation: slide 55s infinite linear;
    margin-right: 15px;
}

@keyframes slide {
    from{
        transform:translateX(0);
    }
    to{
        transform: translateX(-100%);
    }

}

